.room-list-empty-room{
  position: absolute;
  background: #8977ad;
  color: #fff;
  padding: 13px;
  border-radius: 20rem;
  top: 135px;
  right: 15px;
  font-size: 11pt;
  box-shadow: 2px 2px 3px #d1d1d1;
  z-index: -1;
}
