.preview
{
  padding: 10px;
  position: relative;

    .preview-img
    {
      border-radius: 100%;
      box-shadow: 0 0 5px 2px rgba(0,0,0,0.7);
    }


    .browse-button
    {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      position: absolute; /* Tweak the position property if the element seems to be unfit */
      top: 10px;
      left: 120px;
      background: linear-gradient(180deg, transparent, black);
      opacity: 0;
      transition: 0.3s ease;

        i {
          color: white;
          font-size: 35px;
          transform: translate(50px,130px);
        }

        .browse-input
        {
          width: 200px;
          height: 200px;
          border-radius: 100%;
          transform: translate(-1px,-26px);
          opacity: 0;
        }

      &:hover {
        opacity: 1;
      }
    }

    .Error
    {
      color: crimson;
      font-size: 13px;
    }

}

.Back
{
  font-size: 25px;
}

.setting-account label
{
  padding-top : 10px;
  margin: 0 10px 0 0;
  font-weight: bold;
  color: #ffaeff;
}

.setting-account #comments
{
  padding-top : 10px;
  margin: 0 22px 0 0;
  font-weight: bold;
  color: skyblue;
}

.setting-account #name
{
  padding-top : 10px;
  margin: 0 34px 0 0;
  font-weight: bold;
  color: #ffaeff;
}


.setting-account #Background
{
  padding-top : 10px;
  margin: 0 20px 0 0;
  font-weight: bold;
  color: #ff9d36;
}